# Python
__pycache__/
*.py[cod]
*$py.class
config.py

# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# Build Files
build/
dist/
*.egg-info/

# OS Files
.DS_Store
Thumbs.db